*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 

custom color variables

*/

:root {
    --table-green: #137546;
    --gold: #D5C71B;
    --black: #000;
    --suit-red: #FA3000;
    --white: #fff;
    --chip-black: #3E3E3E;
    --chip-red: #FE2807;
    --chip-blue: #1640C9;
    --chip-green: #6FCE1E;
}

html {
    font-family: sans-serif;
}

body {
    background-color: var(--table-green);
}

h1 {
    color: var(--gold);
}

h2 {
    color: var(--white);
}

.container {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}